<div class="mx-auto mt-16 container h-screen">
	<div
		class="h-4/6 flex flex-col items-center justify-center px-2 md:px-6 py-8 mx-auto"
	>
		<div class="bg-slate-200 p-6 rounded-xl w-full md:w-96">
			<h1
				class="text-2xl font-bold leading-tight tracking-tight text-gray-900 py-4 text-center"
			>
				Register
			</h1>
			<form class="space-y-4">
				<div>
					<label
						for="fristname"
						class="block mb-2 text-sm font-medium text-gray-900"
					>
						First Name
					</label>
					<input
						type="text"
						name="fristname"
						id="firstname"
						[(ngModel)]="firstName"
						class="bg-gray-50 border border-gray-300 text-gray-900 w-full p-2.5 rounded-lg"
					/>
				</div>
				<div>
					<label
						for="lastname"
						class="block mb-2 text-sm font-medium text-gray-900"
					>
						Last Name
					</label>
					<input
						type="text"
						name="lastname"
						id="lastname"
						[(ngModel)]="lastName"
						class="bg-gray-50 border border-gray-300 text-gray-900 w-full p-2.5 rounded-lg"
					/>
				</div>
				<div>
					<label
						for="email"
						class="block mb-2 text-sm font-medium text-gray-900"
					>
						Email or Username
					</label>
					<input
						type="email"
						name="email"
						id="email"
						[(ngModel)]="username"
						class="bg-gray-50 border border-gray-300 text-gray-900 w-full p-2.5 rounded-lg"
					/>
				</div>
				<div>
					<div class="flex flex-row justify-between">
						<label
							for="password"
							class="block mb-2 text-sm font-medium text-gray-900"
						>
							Password
						</label>
						<div class="flex flex-row">
							<label
								class="block mb-2 text-xs font-medium text-gray-900"
							>
								Show Password
							</label>
							<input
								type="checkbox"
								name="showPassword"
								class="w-4 h-4 border border-gray-300 rounded mx-4"
								[(ngModel)]="showPassword"
							/>
						</div>
					</div>
					<input
						[type]="showPassword ? 'text' : 'password'"
						id="password"
						name="password"
						[(ngModel)]="password"
						class="bg-gray-50 border border-gray-300 text-gray-900 w-full p-2.5 rounded-lg"
					/>
				</div>
				<button
					class="rounded-lg bg-blue-950 hover:bg-blue-900 w-full py-2 text-white"
					type="button"
					[ngClass]="{
						'cursor-not-allowed opacity-50':
							!firstName || !lastName || !username || !password
					}"
					(click)="register(); $event.preventDefault()"
				>
					Register
				</button>
			</form>
			<!-- link to direct to login page -->
			<div class="text-center mt-4">
				<span class="text-gray-900">Already have an account?</span>
				<a
					class="text-blue-950 hover:text-blue-900"
					routerLink="/login"
				>
					Login
				</a>
			</div>
		</div>
	</div>
</div>
